VITE_FIREBASE_API_KEY=XXXXXXXX
VITE_FIREBASE_AUTH_DOMAIN=XXXXXXXX
VITE_FIREBASE_PROJECT_ID=XXXXXXXX
VITE_FIREBASE_STORAGE_BUCKET=XXXXXXXX
VITE_FIREBASE_MESSAGING_SENDER_ID=XXXXXXXX
VITE_FIREBASE_APP_ID=XXXXXXXX